# Backend
cet46-vocab-backend/target/
cet46-vocab-backend/src/main/resources/application-prod.yml
cet46-vocab-backend/run.log
cet46-vocab-backend/run.err

# IDE
.idea/

# Frontend
cet46-vocab-frontend/node_modules/
cet46-vocab-frontend/dist/
